body {
  font-family: 'Alegreya Sans SC', sans-serif;
}

.nav {
  font-size: 20px;
  background-color: #EE6457;
  text-decoration: none;
}

.splash {
  color: white;
}

li {
  color: white;
}

.jumbotron {
  background-image: url('../images/carpooltocrop2.jpg');
  background-size: cover;
  height: 395px;
}

.left {
  margin-right: 20px;
}

.pool {
  font-size: 35px;
  margin-top: 0px;
}

.text-center {
  color: #17A6B6;
}

.car {
  margin-bottom: 0px;
}

.white {
  max-width: 95px;
  max-height: 95px;
}

img {
  max-width: 250px;
  max-height: 250px;
}

.avatarS {
  max-width: 125px;
  max-height: 125px;
}

.prof {
  margin-top: 30px;
  margin-left: 30px;
}

.container {
  margin-left: 20px;
  margin-right: 20px;
}

.well {
  margin-left: 35px;
  margin-right: 35px;
}

.rideR, .seatP, .eventA, .groupA {
  margin-right: 35px;
}

.orgS {
  margin-top: 45px;
}

.orgInfo {
  color: #17A6B6;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #17A6B6;
}

.formG {
  margin-right: 20px;
}

.l {
  margin-left: 10px;
}

.g {
  padding:0 15px 0 15px;
}
