<br>
<br>
<table>
  <tbody>
    <tr>
      <td class="g">
        <h1>{{event.event_name}}</h1>
      </td>
      <td class="g">
        <form name='formGroup' ng-submit='editEvent()'>
          <input class="btn btn-default" type="submit" value="Edit Event">
        </form>
      </td>
      <td class="g">
        <form name='formGroup' ng-submit='deleteEvent()'>
          <input class="btn btn-default" type="submit" value="Delete Event">
        </form>
      </td>
    </tr>
  </tbody>
</table>
<br>
<br>

<table class="table">
  <thead>
    <th><h3>Date</h3></th>
    <th><h3>Time</h3></th>
    <th><h3>Location</h3></th>
  </thead>
  <tbody>
    <tr>
      <td>{{event.date}}</td>
      <td>{{event.time}}</td>
      <td>{{event.location}}</td>
    </tr>
  </tbody>
</table>
<br>
<br>

<div class="well well-lg">
  <h1>Rides Needed</h1>
  <table class="table">
    <thead>
      <th><h3>Child Name</h3></th>
      <th><h3>School</h3></th>
    </thead>
    <tbody ng-repeat='ride in rides'>
      <tr>
        <td>{{ride.kid_name}}</td>
        <td>{{ride.school}}</td>
        <td><button class="btn btn-default" ng-click='toggleForm1()'>Offer Ride</button></td>
      </tr>
    </tbody>
  </table>

  <div ng-show='showForm'>
    <form name='formGroup' ng-submit='needRide(kid_name, school, events_id)'>
      <label class="formG l" for="kidName">Child Name</label>
        <input class="formG" type="text" id='kidName' ng-model='ride.kid_name' placeholder="Enter Name" required>
      <label class="formG l" for="school">School</label>
        <input class="formG" type="text" id='school' ng-model='ride.school' placeholder="Enter School" required>
      <input type="hidden" value="{{event.id}}" ng-model="ride.events_id">
      <input class='sub' type="submit" value="Submit">
    </form>
  </div>
</div>

  <p class='text-center'><button class="btn btn-default" ng-click='toggleForm()'>Request a Ride</button>
  </div>

<div class="well well-lg">
  <h1>Seats Available</h1>
  <table class="table">
    <thead>
      <th><h3>Username</h3></th>
      <th><h3>Number of Seats</h3></th>
    </thead>
    <tbody ng-repeat='seat in seats'>
      <tr>
        <td>{{seat.username}}</td>
        <td>{{seat.number_of_seats}}</td>
        <td><button class="btn btn-default" ng-click='toggleForm1()'>Accept Ride</button></td>
      </tr>
    </tbody>
  </table>

  <div ng-show='showForm1'>
    <form name='formGroup' ng-submit='haveSeats(username, number_of_seats, events_id)'>
      <label class="formG l" for="username">Name</label>
        <input class="formG" type="text" id='username' ng-model='seat.username' placeholder="Enter Name" required>
      <label class="formG l" for="school">Number of Seats</label>
        <input class="formG" type="text" id='school' ng-model='seat.number_of_seats' placeholder="Enter Number of Seats" required>
      <input type="hidden" value="{{event.id}}" ng-model="seat.events_id">
      <input class='sub' type="submit" value="Submit">
    </form>
  </div>
</div>

  <p class='text-center'><button class="btn btn-default" ng-click='toggleForm1()'>Post Seats</button>
  </div>
