<div class="well well-lg">
  <div class="col-sm-6 col-md-4">
    <img src="{{singleOrg.image_url}}" alt="...">
    <div class="caption">
      <h3>{{singleOrg.org_name}}</h3>
      <p>Website:<a href='{{singleOrg.org_url}}'></p><p>{{singleOrg.org_url}}</a></p>
      <p>Address:</p>
      <p>{{singleOrg.street1}} {{singleOrg.street2}}</p>
      <p>{{singleOrg.city}}, {{singleOrg.state}} {{singleOrg.zip}}</p>
    </div>
  </div>
</div>

<div class="">
  <table class="table table-hover">
    <thead>
      <th>
        {{groupValue}}
      </th>
    </thead>
    <tbody ng-repeat='group in groups'>
      <tr>
        <td>
          <a href='/#/api/orgs/{{group.orgs_id}}/groups/{{group.id}}'>{{group.group_name}}</a>
        </td>
      </tr>
    </tbody>
  </table>

  <div ng-show='showForm'>
    <form name='formGroup' ng-submit='addGroup(org, group_name, orgs_id)'>
      <label class="formG l" for="groupName">{{groupValueB}} Name</label>
        <input class="formG" type="text" id='groupName' ng-model='group_name' placeholder="Enter {{groupValueB}} Name" required>
      <input class='sub' type="submit" value="Submit {{groupValueB}}">
    </form>
  </div>

  <p class='text-center'><button class="btn btn-default" ng-click='toggleForm()'>Add a {{groupValueB}}</button>

</div>
